<!DOCTYPE html>
<html>

<head>

  <title>Lab Assignment</title>

</head>

<body>
  <div class="app-container-grid">
    <app-main-header></app-main-header>
    <app-main-content></app-main-content>
    <app-main-footer></app-main-footer>
    <!--    <header class="main-header">

      <span class="align-center">
        <div style=text-align:center>LOGO
        </div>
      </span>
      <div style=text-align:center>
        <div id="banner" class="align-center" (mouseenter)="showGreeting()" (mouseleave)="hideGreeting()">r1c2</div>
      </div>
      <div style=text-align:center>
        <div class="align-center">
          r1c3
        </div>
      </div>
    </header> -->
    <!-- <div class="main-container-grid">
      <div class="align-center box">
        This is a colored column.
      </div>
      <div class="align-center middle">
        <br>
        I styled this button. <br><br>
          <input type="button" (click)="showGreeting()" value="Show Greeting"/>

          <br><br>

          It glows when you put your cursor on it. 

          <br><br>

          <input type="button" (click)="hideGreeting()" value="Hide Greeting" />
      </div>
      <div class="align-center">r2c3</div>
    </div> -->
    <!-- <footer class="main-footer">
      <div class="align-center">r3c1</div>
      <div class="align-center">r3c2</div>
      <div class="align-center">r3c3</div>
    </footer>  -->

  </div>
</body>

</html>