.main-footer {
    background-color: #050429;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fefefe;
  height: 100%;
  }