<!-- <header class="main-header">
  <span class="align-center">
    <div style=text-align:center>LOGO
    </div>
  </span>
</header> -->


<mat-toolbar color="primary" class="main-header">
  <span class="align-center">LOGO</span>
    <div id="banner" class="align-center">
        <button mat-raised-button color = "accent" class="nav-button" (click)="gotoPage('')">Home</button>
        <button mat-raised-button color="accent" class="nav-button" (click)="gotoPage('courses')">Courses</button>
    </div>

  <div style=text-align:center>
    <div class="align-center">
      <!-- <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon> -->
    </div>
  </div>
</mat-toolbar>